<button class="btn btn-info"><a style="text-decoration: none; color: azure;" routerLink="AddStudent">Create a Data</a> </button>
<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Complete</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of studentList">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td><input type="checkbox"  [checked]="item.complete" disabled> </td>
      <td>{{ item.date | date: "dd-MM-yyyy" }}</td>
    </tr>
  </tbody>
</table>